
build --cxxopt=-std=c++20
build --linkopt=-ltbb
# build --enable_workspace
build --copt=-march=native --copt=-O3 --copt=-DNDEBUG
# --copt=-flto
# build --disk_cache=path/to/build/cache

# build:profile --copt=-masm=intel

build:profile --copt=-march=native
build:profile --copt=-O3
build:profile --copt=-DNDEBUG
build:profile --copt=-flto
build:profile --copt=-gline-tables-only
build:profile --copt=-fdebug-info-for-profiling
build:profile --copt=-funique-internal-linkage-names
build:profile --strip=never

#  --copt=-flto

build:dbg --copt=-O0 --copt=-g --copt=-fno-limit-debug-info --strip=never

# AddressSanitizer (ASan).
build:asan --strip=never
build:asan --copt=-fsanitize=address
build:asan --copt=-DADDRESS_SANITIZER
build:asan --copt=-O0
build:asan --copt=-g
build:asan --copt=-fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address

# MemorySanitizer (MSan).
build:msan --strip=never
build:msan --copt=-fsanitize=memory
build:msan --copt=-DMEMORY_SANITIZER
build:msan --copt=-O0
build:msan --copt=-fsanitize-memory-track-origins
build:msan --copt=-fsanitize-memory-use-after-dtor
build:msan --copt=-fno-omit-frame-pointer
build:msan --copt=-DGPR_NO_DIRECT_SYSCALLS
build:msan --linkopt=-fsanitize=memory
build:msan --action_env=MSAN_OPTIONS=poison_in_dtor=1

# ThreadSanitizer (TSan).
build:tsan --strip=never
build:tsan --copt=-fsanitize=thread
build:tsan --copt=-DTHREAD_SANITIZER
build:tsan --copt=-fno-omit-frame-pointer
build:tsan --copt=-DGPR_NO_DIRECT_SYSCALLS
build:tsan --linkopt=-fsanitize=thread

# UndefinedBehaviorSanitizer (UBSan).
build:ubsan --strip=never
build:ubsan --copt=-fsanitize=undefined
build:ubsan --copt=-DUNDEFINED_BEHAVIOR_SANITIZER
build:ubsan --copt=-fno-omit-frame-pointer
build:ubsan --copt=-DNDEBUG
build:ubsan --copt=-fno-sanitize=vptr
build:ubsan --linkopt=-fsanitize=undefined